*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* DE ACA PARA ABAJO ES SOBRE EL HAEADER DEL INDEX
*/
.navbar-nav li a {
    color: #fdbb2d;
    font-size: 20px;
    gap: .625rem;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navbar-nav a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-item{
    text-decoration: none;
    color: #fdbb2d;
    font-size: 20px;
}
/*DE ACA PARA ABAJO ARRANCA EL MAIN*/
.aside{
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
    }
    .image-section {
        display: flex;
        width: 450px;
        height: 700px;
        margin-left: 30px;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }
.fotico{
    width: 200px;
    height: 160px;
}
.carousel-inner img {
    width: 100%;
    max-height: 862px;
}

.carousel-inner{
    height: 527px;
}